  <div class="base-line-container">
    <h3>Baseline Unit</h3>
    <div>
        <mat-form-field floatPlaceholder="always" class="width-row-container">
            <input matInput placeholder="January" [(ngModel)]="jan">
        </mat-form-field>
        <mat-form-field floatPlaceholder="always" class="width-row-container">
            <input matInput placeholder="February" [(ngModel)]="feb">
        </mat-form-field>
        <mat-form-field floatPlaceholder="always" class="width-row-container">
            <input matInput placeholder="March" [(ngModel)]="mar">
        </mat-form-field>
        <mat-form-field floatPlaceholder="always" class="width-row-container">
            <input matInput placeholder="April" [(ngModel)]="apr">
        </mat-form-field>
        <mat-form-field floatPlaceholder="always" class="width-row-container">
            <input matInput placeholder="May" [(ngModel)]="may">
        </mat-form-field>
        <mat-form-field floatPlaceholder="always" class="width-row-container">
            <input matInput placeholder="Jun" [(ngModel)]="jun">
        </mat-form-field>
        <mat-form-field floatPlaceholder="always" class="width-row-container">
            <input matInput placeholder="July" [(ngModel)]="jul">
        </mat-form-field>
        <mat-form-field floatPlaceholder="always" class="width-row-container">
            <input matInput placeholder="August" [(ngModel)]="aug">
        </mat-form-field>
        <mat-form-field floatPlaceholder="always" class="width-row-container">
            <input matInput placeholder="September" [(ngModel)]="sep">
        </mat-form-field>
        <mat-form-field floatPlaceholder="always" class="width-row-container">
            <input matInput placeholder="October" [(ngModel)]="oct">
        </mat-form-field>
        <mat-form-field floatPlaceholder="always" class="width-row-container">
            <input matInput placeholder="November" [(ngModel)]="nov">
        </mat-form-field>
        <mat-form-field floatPlaceholder="always" class="width-row-container">
            <input matInput placeholder="December" [(ngModel)]="dec">
        </mat-form-field>
    </div>

    <div class="flex_row_right">
      <button type="button" mat-button class="red-btn m-l-5">Save</button>
    </div>
  </div>