<div fxFill fxLayout="column">
    <div fxLayout="column" class="monotoring-execution-history-container full-w">

        <div fxLayout="row">
            <mat-form-field fxFlex = "25" floatPlaceholder="always">
                <mat-select placeholder="Customer Name" [(ngModel)]="selectedCustomerName">
                    <mat-option *ngFor="let customerName of customerNames" [value]="customerName">
                        {{ customerName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex = "25" floatPlaceholder="always" class="m-l-20 ">
                <mat-select placeholder="Chiller Plant Name" [(ngModel)]="selectedChillerPlantName">
                    <mat-option *ngFor="let chillerPlantName of chillerPlantNames" [value]="chillerPlantNames">
                        {{ chillerPlantName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxLayout="row">
            <mat-form-field fxFlex = "25" floatPlaceholder="always">
                <input matInput [matDatepicker]="startDatepicker" placeholder="From Date">
                <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatepicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex = "25" floatPlaceholder="always" class="m-l-20 ">
                <input matInput [matDatepicker]="endDatepicker" placeholder="To Date">
                <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatepicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex = "25" floatPlaceholder="always" class="m-l-20 ">
                <mat-select placeholder="Category" [(ngModel)]="selectedCategory">
                    <mat-option *ngFor="let item of category" [value]="item">
                        {{ item }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex floatPlaceholder="always" class="m-l-20 ">
                <mat-select placeholder="Status" [(ngModel)]="selectedStatus">
                    <mat-option *ngFor="let status of ListStatus" [value]="status">
                        {{ status }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
        <div fxLayout="row">
            <div fxFlex fxLayoutAlign="end center">
                <button style="height: 36px;" class="red-btn" type="button" mat-button> Search </button>
            </div>
        </div>

    </div>




    <div class="monotoring-execution-history-table-container" fxFlex fxLayout="column">
        <td-data-table #dataTable class="monotoring-execution-history-table" [data]="filteredData" [columns]="columns" [selectable]=""
            [clickable]="" [multiple]="" [sortBy]="sortBy" [(ngModel)]="selectedRows" [sortOrder]="sortOrder" (sortChange)="sort($event)">
            <ng-template tdDataTableTemplate="id" let-value="value" let-row="row" let-column="column">
                <div fxLayout="row">
                    <span routerLink="/monitoring/monitoring-execution-history/execution-sending-detail" class="link-button" flex>{{value}}</span>
                </div>
            </ng-template>

            <ng-template tdDataTableTemplate="status" let-value="value" let-row="row" let-column="column">
                <div fxLayout="row">
                    <span class="{{value == 'Failure' ? 'link-button': ''}}" (click)="showDialogErrorMessage(value)" flex>{{value}}</span>
                </div>
            </ng-template>
            <!-- <ng-template tdDataTableTemplate="executionData" let-value="value" let-row="row" let-column="column">
                <div fxLayout="row">
                    <span class="{{value == 'Failure' ? 'link-button': ''}}" (click)="showDialogErrorMessage(value)" flex>{{value}}</span>
                </div>
            </ng-template>
            <ng-template tdDataTableTemplate="restAPISending" let-value="value" let-row="row" let-column="column">
                <div fxLayout="row">
                    <span class="{{value == 'Failure' ? 'link-button': ''}}" (click)="showDialogErrorMessage(value)" flex>{{value}}</span>
                </div>
            </ng-template> -->
        </td-data-table>
        <td-paging-bar fxFlex #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
            <span hide-xs>Rows per page:</span>
            <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
                <mat-option *ngFor="let size of pageSizes" [value]="size">
                    {{size}}
                </mat-option>
            </mat-select>
            <span>{{pagingBar.range}}</span>
            <span hide-xs>of {{pagingBar.total}}</span>
        </td-paging-bar>
    </div>
</div>