<div fxFill fxLayout="column" class="email-service-container">
    <div class="email-service-content-wrapper overflow-a">                
        <mat-form-field floatPlaceholder="always" class="m-t-20">
            <input matInput required placeholder="Server Mail" [(ngModel)]="serverMail">
            <mat-error align="right">This field is required</mat-error>
        </mat-form-field>

        <mat-form-field floatPlaceholder="always">
            <input required matInput placeholder="Port" [(ngModel)]="port">
            <mat-error align="right">This field is required</mat-error>        
        </mat-form-field>

        <mat-radio-group class="m-t-20 m-b-10" [(ngModel)]="encryption">
            <span fxFlex="30" class="label-placeholder"> Encryption </span>
            <mat-radio-button fxFlex value="1">None</mat-radio-button>
            <mat-radio-button fxFlex value="2">SSL/TLS</mat-radio-button>
            <mat-radio-button fxFlex value="3">STARTTLS</mat-radio-button>
        </mat-radio-group>

        <mat-form-field floatPlaceholder="always" class="m-t-20">
            <input matInput required placeholder="Email" [(ngModel)]="email">
            <mat-error align="right">This field is required</mat-error>
        </mat-form-field>

        <mat-form-field floatPlaceholder="always">
            <input type="password" required matInput placeholder="Password" [(ngModel)]="password">
            <mat-error align="right">This field is required</mat-error>        
        </mat-form-field>
    </div>
    
    <div fxLayoutAlign="end center" class="m-y-5" style="width: 50%;">
        <button  type="button" class="red-btn m-l-5" mat-button (click)="showSuccess()"> Test Connection </button>                
        <button  class="red-btn m-l-5" type="button" mat-button> Save </button>
    </div>
</div>