@import '~styles/styles';
@import '~styles/es-navi';

.schedule-label {
  font-size: 20px;
  padding: 20px 0 10px 0;
}

.dialog-content{
  overflow: auto;
}
.create_schedule_dialog_select{
  width: 30%!important;
  margin: auto;
  text-align: center;
  // display: block;
  // flex: initial!important;
}
.create_schedule_dialog_select>div:first-child{
  // text-align: right;
  // justify-content: flex-end;
}
// .create_schedule_dialog_select>div:first-child>mat-form-field{
.create_schedule_dialog_select mat-form-field{
  max-width: 100px;
}
.warning{
  color:$color4;
}

.create_schedule_bound_time{
  width: 30%;
  margin: auto;
}