@import '~styles/variables';
// custom
.login_bound{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.login_header{
  background-color: $color1;
  height: 80px;
}

.login_content{
  margin: auto;
  // flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
  justify-content: center;
  min-height: 320px;
}
.login-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-bottom: 40px;


}
.login-title>span{
  font-size: 80px;
  font-weight: bold;
  color: $color4;
  text-align: center;
}
.login_footer{
  padding: 10px;
  background-color: #ccc;
  display: flex;
  // flex-direction: row;
  border-top: 1px solid #000;
}

.login_footer>div{
  flex: 1;
}
.login_footer p{
  margin: 0;
  font-weight: bold;
}
.login_footer>p{
  // margin: auto;
  font-size: 15px;
}
.login_footer>div>p:first-child{
  margin-bottom: 5px;
  font-size: 25px;
}
.login_footer>div>p:last-child{  
  color: $color4;  
}

.login_for_input{
  margin-bottom: 15px;
  display: flex;
  // flex-direction: row;
}
.login_for_input>div{
  flex: 1;
  text-align: right;
}
.login_for_input>label{
  font-size: 20px;
  line-height: 32px;
  width: 150px;
}
.login_for_input>mat-checkbox{
  flex: 1;
  text-align: right;
  margin-right: 30px;
  line-height: 36px;
}
.login_content_detail{
  margin: 0 auto;
  width: 400px;
}
.login_content_detail>span{
  color: $color4;
  cursor: pointer;
  display: block;
  text-align: right;
  text-decoration: underline;
}

.login_for_input_bound_siginin{
  display: flex;
}
.login_for_input_bound_siginin>mat-checkbox{
  flex: 1;
  line-height: 36px;
  text-align: left;
}

:host(.login_content) {
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
  justify-content: center;
  min-height: 320px;
}