$color1: #414141 !default;
$color2: #FFFFFF !default;
$color3: #000000 !default;
$color4: #CC0000 !default;
$color5: rgba(0, 0, 0, 0.54) !default;
$color6: #E0E0E0 !default;
$color7: #CCCCCC !default;
$colorBlue: #008EAA !default;
$colorSuccess: #55951B !default;
$colorWarning: #FFC600 !default;
$colorError: #CC0000 !default;
$colorDisabled: #E0E0E0 !default;
$heightHeader: 44px !default;
$heightFooter: 44px !default;
$heightMenuTb: 36px !default;
$heightSubmenuTb: 32px !default;
$colorButton: #B40000;
$fontSizeLabel: 16px !default;
$colorLabel: rgba(0, 0, 0, 0.7) !default;
$colorBorder: #555555 !default;