<!-- <div class="login_bound">
  <div class="login_header"></div>
  <div class="login_content">
    <h1>ES-NAVI SYSTEM</h1>
    <div class="reset_password_notify">
        <p>Enter your Email, we'll send you a link to</p>
        <p>reset your password</p>
    </div>
    <div class="reset_password_notify">
        <label for="">Email</label>
        <div class="search-box" fxLayout="row">
          <input type="search" placeholder="operator01@gcs-vn.com" [(ngModel)]="usernameOrEmail" autofocus />
        </div>
        <img src="assets/img/capcha.png" alt="capcha">
        <div>
            <button class="red-btn" type="button" mat-button (click)="send()">Send</button>
        </div>        
    </div>
    <div class="login_content_detail">
    </div>
  </div>
  <app-footer></app-footer>
</div> -->

<div class="login_content">
  <h1>ES-NAVI SYSTEM</h1>
  <div class="reset_password_notify">
    <p>Enter your Email, we'll send you a link to</p>
    <p>reset your password</p>
  </div>
  <div class="reset_password_notify">
    <!-- <label for="">Email</label>
    <div class="search-box" fxLayout="row">
      <input required type="search" placeholder="operator01@gcs-vn.com" [(ngModel)]="usernameOrEmail" autofocus />
    </div> -->
    <mat-form-field floatPlaceholder="always" class="full-w m-t-10">
        <input matInput required placeholder="Email" [(ngModel)]="email" #emailF="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        <mat-error align="right" *ngIf="emailF.errors && emailF.errors.pattern">
          Please enter a valid email address
        </mat-error>
        <mat-error align="right" *ngIf="emailF.errors && emailF.errors.required">
          Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <!-- <img src="assets/img/capcha.png" alt="capcha"> -->
    <div fxLayout="row" fxLayoutAlign="center">
      <re-captcha required (resolved)="isValidCaptcha = true" siteKey="6Lfr8DgUAAAAAB6G2QN0UhUy57g5aPxgBVtJYY4z"></re-captcha>
    </div>
    <div>
      <button class="red-btn" type="button" mat-button [disabled]="!isValidCaptcha || !emailF.valid" (click)="send()">Send</button>
    </div>
  </div>
  <div class="login_content_detail">
  </div>
</div>