<div fxFill class="set-points-container">
    <div class="button-section">

        <div class="button-section__comboBox" fxLayout="row">

            <div class="button-section__comboBox--layout">
                <div class="button-section__comboBox__Item">
                    <mat-form-field floatPlaceholder="always">
                        <mat-select placeholder="Chiller Plant Name">
                            <mat-option *ngFor="let chillerPlant of chillerPlants" [value]="chillerPlant.id">
                                {{ chillerPlant.value }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="button-section__comboBox__Item">
                    <mat-form-field floatPlaceholder="always">
                        <mat-select placeholder="Type">
                            <mat-option *ngFor="let type of types" [value]="type.id">
                                {{ type.value }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="button-section__comboBox__Item">
                    <mat-form-field floatPlaceholder="always">
                        <mat-select placeholder="Equipment Name">
                            <mat-option *ngFor="let equipment of equipments" [value]="equipment.id">
                                {{ equipment.value }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

        </div>

        <div class="button-section__dateTimePicker" fxLayout="row">
            <mat-form-field floatPlaceholder="always">
                <input matInput [matDatepicker]="pickerFrom" placeholder="From Date">
                <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                <mat-datepicker #pickerFrom></mat-datepicker>
            </mat-form-field>
            <mat-form-field floatPlaceholder="always" class="m-l-20">
                <input matInput [matDatepicker]="pickerTo" placeholder="To Date">
                <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>

            <div class="button-section__dateTimePicker__searchButton">
                <div fxFlex class="m-l-20" fxLayoutAlign="center center">
                    <button style="height: 36px;" class="red-btn" type="button" mat-button> Search </button>
                </div>
            </div>
        </div>

        <div class="button-section__table">

            <td-data-table #dataTable [data]="filteredData" [columns]="columns" [selectable]="" [clickable]="" [multiple]="" [sortBy]="sortBy"
                [(ngModel)]="selectedRows" [sortOrder]="sortOrder" (sortChange)="sort($event)">

            </td-data-table>

            <td-paging-bar fxFlex #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
                <span hide-xs>Rows per page:</span>
                <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
                    <mat-option *ngFor="let size of pageSizes" [value]="size">
                        {{size}}
                    </mat-option>
                </mat-select>
                <span>{{pagingBar.range}}</span>
                <span hide-xs>of {{pagingBar.total}}</span>
            </td-paging-bar>


        </div>

    </div>
</div>