<!-- <div fxFill fxLayout="column">
    <h3>BMS Image List</h3>
    <div fxLayout="row" class="m-t-20">
        <button class="red-btn" type="button" mat-button (click) = "openBMSImageDialog()">Add Image</button>        
    </div>
    <div class="m-t-20" fxLayout="column">
        <td-data-table #dataTable
        [data]="filteredData"
        [columns]="columns"
        [selectable]=""
        [clickable]=""
        [multiple]=""
        [sortBy]="sortBy"
        [(ngModel)]="selectedRows"
        [sortOrder]="sortOrder"
        (sortChange)="sort($event)">
          <ng-template tdDataTableTemplate="imageName" let-value="value" let-row="row" let-column="column">
            <div fxLayout="row">
              <span (click)="viewImageDetail()" class="link-button" flex>{{value}}</span>
            </div>
          </ng-template>
          <ng-template tdDataTableTemplate="fileName" let-value="value" let-row="row" let-column="column">
            <div fxLayout="row" matTooltip="{{value}}">
              <span flex>{{value}}</span>
            </div>
          </ng-template>
          <ng-template tdDataTableTemplate="action">
            <div fxLayout="row">
              <button mat-icon-button (click)="showConfirmDialog()" matTooltip="Delete">
                <mat-icon class="color-1" aria-label="Delete">delete</mat-icon>
              </button>
            </div>
          </ng-template>
        </td-data-table>
        <td-paging-bar fxFlex #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
          <span hide-xs>Rows per page:</span>
          <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
            <mat-option *ngFor="let size of pageSizes" [value]="size">
              {{size}}
            </mat-option>
          </mat-select>
          <span>{{pagingBar.range}}</span>
          <span hide-xs>of {{pagingBar.total}}</span>
        </td-paging-bar>
      </div>
</div> -->
<div fxFill fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start center">
    <span class="fs-20 fw-bold" fxFlex>BMS Image List</span>
    <button mat-icon-button class="background-color-1 box-shadow" (click)="openBMSImageDialog()" matTooltip="Add Image">
      <mat-icon class="color-2" aria-label="Add">add</mat-icon>
    </button>
  </div>
  <div class="m-t-10" fxLayout="column">
    <mat-grid-list class="image-container" cols="4" rowHeight="200px">
      <mat-grid-tile *ngFor="let image of data" colspan="1" rowspan="1">
        <div class="image-item" fxLayout="column">
          <div class="image">
            <img [src]="uploadedImage" alt="{{image.imageName}}">
          </div>
          <div class="image-footer p-x-10" fxLayout="row" fxLayoutAlign="start center">
            <span fxFlex>{{image.imageName}}</span>
            <button mat-icon-button (click)="viewImageDetail()" matTooltip="Edit">
              <mat-icon class="color-1" aria-label="Edit">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="showConfirmDialog()" matTooltip="Delete">
              <mat-icon class="color-1" aria-label="Delete">delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>