<div fxFill fxLayout="column">
  <mat-tab-group class="custom-tab m-y-5" [(selectedIndex)]="selectedTabIndex">

    <mat-tab label="Customer Info">
      <div class="full-h" fxLayout="column" *ngIf="selectedTabIndex === 0">
        <div fxFlex fxLayout="row" class="m-t-10 m-b-5" >

          <fieldset fxFlex class="">
            <legend>Customer Information</legend>
            <div fxLayout="column" class="fieldset-content">
                <div>
                  <mat-form-field floatPlaceholder="always" class="{{'opacity07'}}">
                    <input disabled matInput placeholder="Customer ID" [(ngModel)]="customerID">
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field floatPlaceholder="always">
                    <input matInput required placeholder="Customer Name" [(ngModel)]="customerName">
                    <mat-error>This field is required</mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field floatPlaceholder="always">
                    <mat-select placeholder="Country" [(ngModel)]="arrayProvinces[0].countryID" (change)="changeCountry($event)">
                      <mat-option *ngFor="let country of arrayProvinces[0].provinces" [value]="country.id">
                        {{country.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field floatPlaceholder="always">
                    <mat-select placeholder="Province" [(ngModel)]="arrayProvinces[1].countryID" (change)="changeProvince($event)">
                      <mat-option *ngFor="let province of arrayProvinces[1].provinces" [value]="province.id">
                        {{ province.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field floatPlaceholder="always">
                    <input matInput placeholder="Address" [(ngModel)]="address">
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field floatPlaceholder="always">
                    <input matInput required placeholder="Email" [(ngModel)]="email">
                    <mat-error>This field is required</mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field floatPlaceholder="always">
                    <input matInput required placeholder="Phone Number" [(ngModel)]="phoneNumber">
                    <mat-error>This field is required</mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field floatPlaceholder="always">
                    <mat-select placeholder="Time Zone" [(ngModel)]="selectedTimeZone" (change)="changeProvince($event)">
                      <mat-option *ngFor="let timeZone of timeZones" [value]="timeZone.uct">
                        {{ timeZone.label }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
            </div>
          </fieldset>
          <fieldset fxFlex class="m-l-20">
            <legend>Login Detail</legend>
            <div fxLayout="column" class="fieldset-content">
              <div>
                <mat-form-field floatPlaceholder="always">
                  <input matInput placeholder="Username" type="text" [(ngModel)]="userName">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field floatPlaceholder="always">
                  <input matInput placeholder="Password" type="password" [(ngModel)]="password">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field floatPlaceholder="always">
                  <input matInput placeholder="Confirm Password" type="password" [(ngModel)]="confirmPassword">
                </mat-form-field>
              </div>
            </div>
          </fieldset>

        </div>
        <div fxLayout="row" fxLayoutAlign="end center" class="m-y-5 p-x-5 full-w">
          <button [routerLink]="'/customer-management/customer-list'" class="red-btn m-l-20" type="button" mat-button> Cancel </button>
          <button (click)="showSuccess()" class="red-btn m-l-20" type="button" mat-button> Save </button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Chiller Plants">
      <div class="full-h" *ngIf="selectedTabIndex === 1">
        <app-chiller-plants></app-chiller-plants>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>