@import '~styles/styles';
@import '~styles/es-navi';


.dialog{
    display: block !important;
}

.dialog-content{
    //background-color: bisque;
    &__id{
        .mat-form-field{
            width:100%;
        }
    }
    &__datetime{
        display: flex;
        justify-content: space-between;
        .mat-form-field{
            width: 46%;
        }
    }
    &__status{
        .mat-form-field{
            width: 100%;
        }
    }
    &__type{
        .mat-form-field{
            width: 100%;
        }
    }
    &__currency{
        .mat-form-field{
            width: 100%;
        }
    }
    &__unit-price-value{

        display: flex;
        justify-content: space-between;

        .mat-form-field{
            width: 25%;
        }

        &__group-icon{
            display: flex;
            align-items: center;
            mat-icon:hover{
                cursor: pointer !important;
              }
        }
    }

}