<div class="schedule-list">
  <div class="schedule-list-header" fxLayout="column">
    <div>
      <span>Connection List</span>
    </div>
    <div fxLayout="row" class="p-y-20">
      <div fxFlex>
        <app-create-connection></app-create-connection>
      </div>
      <div class="search-box schedule-list-search" fxLayout="row">
        <!-- <input placeholder="Search" #filter /> -->
        <input placeholder="Search" #filter [(ngModel)]="searchTerm" />
        <mat-icon>search</mat-icon>
      </div>
    </div>
  </div>
  <div class="schedule-table customer-table-container" fxLayout="column">
    <td-data-table #dataTable class="customer-table" 
    [data]="filteredData" 
    [columns]="columns" 
    [selectable]="" 
    [clickable]="" 
    [multiple]="" 
    [sortBy]="sortBy" 
    [(ngModel)]="selectedRows" 
    [sortOrder]="sortOrder" 
    (sortChange)="sort($event)"
    style="height:calc(100% - 44px)">
      <ng-template tdDataTableTemplate="connectionName" let-value="value" let-row="row" let-column="column">
        <div fxLayout="row">
            <app-update-connection
            [selectedConnection]="row">
          </app-update-connection>
        </div>
      </ng-template>
      <ng-template tdDataTableTemplate="delete" let-row="row">
        <div fxLayout="row">
          <button mat-icon-button (click)="showDeleteConfirm(row)">
            <mat-icon class="color-1" aria-label="Delete">delete</mat-icon>
          </button>
        </div>
      </ng-template>
    </td-data-table>
    <td-paging-bar fxFlex #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
      <span hide-xs>Rows per page:</span>
      <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
        <mat-option *ngFor="let size of pageSizes" [value]="size">
          {{size}}
        </mat-option>
      </mat-select>
      <span>{{pagingBar.range}}</span>
      <span hide-xs>of {{pagingBar.total}}</span>
    </td-paging-bar>
  </div>
</div>